<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ubicación</title>
</head>
<body>
    <h1>Ubicación de mi empresa</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12536.463923975869!2d-1.7052336000000001!3d38.23041595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1700226424026!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>
</html>